<style>
    .footer {
        left: 0;
        bottom: 2.5%;
        width: 100%;
        text-align: center;
    }
</style>

<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}">
    </data>
    <div class="wrapper">
        <div class="footer">
            <a href="https://github.com/israfelsr">
                <svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                </svg>
            </a>
            <a href="https://twitter.com/israfelsalazar" target="_blank">
                <svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
                </svg>
            </a>
            <a href="https://instagram.com/israsalazar" target="_blank">
                <svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
                </svg>
            </a>
            <a href="https://linkedin.com/in/israfelsalazar" target="_blank">
                <svg class="svg-icon">
                    <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
                </svg>
            </a>
        </div>
        <div>
            <p style = "font-family:Open Sans,Clear Sans, Helvetica Neue, Helvetica, Arial, sans-serif;font-size:12px;color:grey;text-align:center;">
                2020 © Israfel Salazar
            </p>
        </div>
    </div>
</footer>